In [3]:
import spacy
from spacy import displacy

In [4]:
nlp = spacy.load('en_core_web_sm')

In [16]:
text="This is first sentence. this is second one. and the final one is the third one."

In [17]:
doc=nlp(text)

In [18]:
doc

This is first sentence. this is second one. and the final one is the third one.

In [19]:
for token in doc:
    print(token)

This
is
first
sentence
.
this
is
second
one
.
and
the
final
one
is
the
third
one
.

In [20]:
sent = nlp.create_pipe('sentencizer')

In [24]:
nlp.add_pipe(sent,before="parser")

In [22]:
doc = nlp(text)

In [23]:
for sent in doc.sents:
    print(sent)

This is first sentence.
this is second one.
and the final one is the third one.

In [26]:
for token in doc:
    if token.is_stop == False:
        print(token)

sentence
.
second
.
final
.

In [29]:
import pandas as pd

In [32]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [34]:
data_yelp = pd.read_csv('datasets/yelp_labelled.txt',sep="\t",header=None)

In [36]:
data_yelp.head()

                                                   0  1
0                           Wow... Loved this place.  1
1                                 Crust is not good.  0
2          Not tasty and the texture was just nasty.  0
3  Stopped by during the late May bank holiday of...  1
4  The selection on the menu was great and so wer...  1

In [40]:
column_name=['Review','Sentiment']
data_yelp.columns = column_name

In [41]:
data_yelp.head()

                                              Review  Sentiment
0                           Wow... Loved this place.          1
1                                 Crust is not good.          0
2          Not tasty and the texture was just nasty.          0
3  Stopped by during the late May bank holiday of...          1
4  The selection on the menu was great and so wer...          1

In [47]:
data_amazon = pd.read_csv('datasets/amazon_cells_labelled.txt',sep="\t",header=None)
column_name=['Review','Sentiment']
data_amazon.columns = column_name
data_amazon.head()

                                              Review  Sentiment
0  So there is no way for me to plug it in here i...          0
1                        Good case, Excellent value.          1
2                             Great for the jawbone.          1
3  Tied to charger for conversations lasting more...          0
4                                  The mic is great.          1

In [43]:
data_imdb = pd.read_csv('datasets/imdb_labelled.txt',sep="\t",header=None)
column_name=['Review','Sentiment']
data_imdb.columns = column_name
data_imdb.head()

                                              Review  Sentiment
0  A very, very, very slow-moving, aimless movie ...          0
1  Not sure who was more lost - the flat characte...          0
2  Attempting artiness with black & white and cle...          0
3       Very little music or anything to speak of.            0
4  The best scene in the movie was when Gerardo i...          1

In [49]:
data = data_yelp.append([data_amazon,data_imdb])

In [51]:
data.shape

(2748, 2)

In [52]:
data['Sentiment'].value_counts()

1    1386
0    1362
Name: Sentiment, dtype: int64

In [53]:
data.isnull().sum()

Review       0
Sentiment    0
dtype: int64

In [55]:
from spacy.lang.en.stop_words import STOP_WORDS
stopwords=list(STOP_WORDS)
print(stopwords)
len(stopwords)

['onto', 'please', 'every', 'everyone', 'say', "'m", 'me', 'his', 'often', 'bottom', 'be', 'some', '’m', 'itself', 'eight', 'amount', 'three', 'hundred', 'ours', 'whenever', 'been', 'yourself', 'between', 'any', 'side', 'sometime', 'within', 'became', 'thereafter', 'no', 'whence', 'upon', 'us', 'moreover', 'she', 'off', 'whither', 'forty', 'why', 'elsewhere', 'meanwhile', 'does', 'so', 'not', 'do', 'none', 'go', 'thru', 'her', 'both', 'hereupon', 'were', 'those', 'nowhere', 'nevertheless', 'who', 'seemed', 'down', 'below', 'show', 'they', 'at', 'everywhere', 'several', 'the', 'fifteen', 'above', 'somewhere', 'there', 'thus', 'besides', 'next', 'ten', 'under', 'fifty', 'thereupon', 'via', 'ourselves', "n't", 'once', 'though', 'how', 'whereupon', 'except', 'against', 'then', 'regarding', 'somehow', 'five', 'we', 'without', 'whole', 'put', 'should', 'doing', '‘ve', 'amongst', 'what', 'these', 'hers', 'other', 'mine', 'much', 'he', 'never', 'latterly', 'first', 'most', 'still', 'otherwise', 'wherever', 'if', 'beforehand', 'well', '’ll', 'cannot', 'seem', 'sixty', 'always', 'during', 'else', 'throughout', 'out', 'see', '’d', 'over', 'and', 'nine', 'seeming', 'along', 'from', 'until', 'due', 'after', 'twelve', 'afterwards', 'i', 'various', "'ve", '’s', 'could', 'each', 'also', 'toward', 'to', 'someone', 'in', 'has', 'now', "'re", 'an', 'same', 'enough', 'rather', 'many', 'again', 'since', 'used', 'or', 'quite', 'another', 'may', 'them', 'latter', 'very', 'this', 'their', 'which', 'becoming', "'ll", 'thereby', 'full', 'a', 'for', 'into', 'might', 'sometimes', 'that', '‘re', 'by', 're', 'herself', 'behind', '‘m', 'did', 'top', 'because', 'call', 'but', 'anyhow', 'alone', 'him', 'noone', 'themselves', 'even', 'myself', 'too', 'was', 'on', 'less', 'indeed', 'front', 'neither', 'whatever', 'all', 'name', 'unless', 'about', 'while', 'something', '‘s', 'nobody', 'anything', 'with', 'eleven', 'whether', 'make', 'therein', 'would', 'being', 'few', '’re', 'part', 'towards', 'yours', 'himself', 'n‘t', 'n’t', 'everything', 'although', 'almost', 'are', 'it', 'last', 'nothing', 'whereas', 'wherein', 'beyond', 'just', 'yourselves', 'third', 'will', 'already', 'when', 'formerly', "'d", 'becomes', 'whoever', 'former', 'around', 'further', 'here', 'however', 'own', 'take', 'hereby', 'one', 'before', '‘d', 'anyone', 'hereafter', 'mostly', 'among', 'seems', 'together', 'am', 'whereby', 'whom', 'whose', 'your', 'serious', 'become', 'therefore', 'is', '‘ll', '’ve', 'can', 'least', 'such', "'s", 'move', 'using', 'through', 'yet', 'made', 'where', 'done', 'give', 'herein', 'back', 'twenty', 'up', 'only', 'ca', 'really', 'two', 'as', 'our', 'anyway', 'its', 'you', 'hence', 'nor', 'across', 'beside', 'have', 'keep', 'more', 'namely', 'either', 'of', 'others', 'had', 'perhaps', 'than', 'empty', 'whereafter', 'ever', 'per', 'thence', 'must', 'six', 'four', 'my', 'get', 'anywhere']

326

In [58]:
import string
punct = string.punctuation
print(punct)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [ ]:
def text_data_cleaning(sentence):
    doc = nlp(sentence)
    
    tokens=[]